@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ты думаешь у тебя тут есть права? А нихуя, как говорил Денис Джиган. (ЗВучит как типичная фраза Глеба) Ну чи шо, разобрались с этой программмулькой?.</p>
