@model messendjer.ViewModels.RegisterModel
@{
    ViewBag.Title = " Регистрация пользователя";
    Layout = "_LayoutEmpty";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V19</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <span class="login100-form-title p-b-33">
                        Регистрация
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid NameSurname is required: ex@abc.xyz">
                        <!--<label asp-for="NameSurname" class="control-label">FFFF и фамилия</label> Пусть пока будет тут, авось передумаем насчет лэйблов-->
                        <input type="text" asp-for="NameSurname" class="form-control" placeholder="Имя и фамилия">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>

                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid Login is required: ex@abc.xyz">
                        <!--<label asp-for="Login" class="control-label">FFFгин</label> Пусть пока будет тут, авось передумаем насчет лэйблов-->
                        <input type="text" asp-for="Login" class="form-control" placeholder="Логин">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>

                    </div>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        <!--<label asp-for="Password" class="control-label">FFFоль</label> Пусть пока будет тут, авось передумаем насчет лэйблов-->
                        <input type="Password" asp-for="Password" class="form-control" placeholder="Пароль">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        <!--<label asp-for="ConfirmPassword" class="control-label">FFFорите пароль</label> Пусть пока будет тут, авось передумаем насчет лэйблов-->
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Повторите пароль">
                        <span asp-validation-for="ConfirmPassword" />
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    <input type="submit" value="Зарегистрироваться" class="login100-form-btn">
                </form>
                <div class="col-12 p-0">
                    <a class="btn btn-hover color-red mt-3 col " href='javascript:history.go(-1)'><i class="fa fa-long-arrow-left mr-2"></i>Назад</a>
                </div>
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
</html>